USE [master]
GO
/****** Object:  Database [WebTinTuc]    Script Date: 8/12/2019 10:59:20 PM ******/
CREATE DATABASE [WebTinTuc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebTinTuc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\WebTinTuc.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WebTinTuc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\WebTinTuc_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebTinTuc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebTinTuc]
GO
/****** Object:  Table [dbo].[Advertisement]    Script Date: 8/12/2019 10:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advertisement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[MemberId] [nvarchar](50) NULL,
	[Images] [nvarchar](255) NULL,
	[Amount] [int] NULL,
	[PositionId] [int] NULL,
	[Display] [int] NULL,
	[Status] [bit] NULL,
	[CreatedAt] [date] NULL,
	[UpdatedAt] [date] NULL,
	[DeletedAt] [date] NULL,
 CONSTRAINT [PK_QuangCao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/12/2019 10:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoriesName] [nvarchar](50) NOT NULL,
	[CreatedAt] [date] NULL,
	[UpdatedAt] [date] NULL,
	[DeletedAt] [date] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Member]    Script Date: 8/12/2019 10:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [bit] NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[RoleId] [int] NULL,
	[PhoneNumber] [int] NOT NULL,
	[Images] [nvarchar](255) NOT NULL,
	[CreatedAt] [date] NULL,
	[UpdatedAt] [date] NULL,
	[DeletedAt] [date] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 8/12/2019 10:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](1000) NULL,
	[ImagesTitle] [nvarchar](100) NULL,
	[Summary] [nvarchar](2000) NULL,
	[NewsContent] [nvarchar](max) NULL,
	[Video] [nvarchar](100) NULL,
	[CategoriesId] [int] NULL,
	[TypeId] [int] NULL,
	[ApproveId] [nvarchar](50) NULL,
	[MemberId] [nvarchar](50) NULL,
	[Date] [date] NULL,
	[Status] [bit] NULL,
	[Views] [int] NULL,
	[CreatedAt] [date] NULL,
	[UpdatedAt] [date] NULL,
	[DeletedAt] [date] NULL,
 CONSTRAINT [PK_TinTuc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Position]    Script Date: 8/12/2019 10:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[CreatedAt] [date] NULL,
	[UpdatedAt] [date] NULL,
	[DeletedAt] [date] NULL,
 CONSTRAINT [PK_ViTri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/12/2019 10:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[CreatedAt] [date] NULL,
	[UpdatedAt] [date] NULL,
	[DeletedAt] [date] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Type]    Script Date: 8/12/2019 10:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CreatedAt] [date] NULL,
	[UpdatedAt] [date] NULL,
	[DeletedAt] [date] NULL,
 CONSTRAINT [PK_LoaiTin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Advertisement] ON 

INSERT [dbo].[Advertisement] ([Id], [Title], [MemberId], [Images], [Amount], [PositionId], [Display], [Status], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (59, N'Quảng cáo thuốc trị mụn', N'sontung', N'image001_3.jpg', 3000, 2, 2667, 1, CAST(0x6A400B00 AS Date), NULL, NULL)
INSERT [dbo].[Advertisement] ([Id], [Title], [MemberId], [Images], [Amount], [PositionId], [Display], [Status], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (60, N'Quảng cáo MacBook Pro', N'dongockimngan', N'kgsdww.PNG', 2000, 1, 1758, 1, CAST(0x6E400B00 AS Date), NULL, NULL)
INSERT [dbo].[Advertisement] ([Id], [Title], [MemberId], [Images], [Amount], [PositionId], [Display], [Status], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (61, N'Quảng cáo Apple Watch', N'dongockimngan', N'đábbvvv.PNG', 3000, 1, 2757, 1, CAST(0x6E400B00 AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Advertisement] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CategoriesName], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (2, N'THỂ THAO', NULL, CAST(0x6E400B00 AS Date), NULL)
INSERT [dbo].[Categories] ([Id], [CategoriesName], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (3, N'GIA ĐÌNH', NULL, NULL, NULL)
INSERT [dbo].[Categories] ([Id], [CategoriesName], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (5, N'THẾ GIỚI', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
INSERT [dbo].[Member] ([Username], [Password], [FullName], [DateOfBirth], [Gender], [Address], [Email], [RoleId], [PhoneNumber], [Images], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'admin', N'123456', N'Nguyễn Duy Khang', CAST(0xB7220B00 AS Date), 1, N'TPHCM', N'nguyenkhang@gmail.com', 1, 388620664, N'1.PNG', NULL, NULL, NULL)
INSERT [dbo].[Member] ([Username], [Password], [FullName], [DateOfBirth], [Gender], [Address], [Email], [RoleId], [PhoneNumber], [Images], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'admin2', N'123456', N'Nguyễn Thị Tuyết Mai', CAST(0xB7220B00 AS Date), 0, N'Vũng Tàu', N'khangndps06947@fpt.edu.vn', 1, 1514654654, N't2.jpg', NULL, NULL, NULL)
INSERT [dbo].[Member] ([Username], [Password], [FullName], [DateOfBirth], [Gender], [Address], [Email], [RoleId], [PhoneNumber], [Images], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'admin2333', N'123456', N'Lê Hồng Công', CAST(0x9B220B00 AS Date), 0, N'TPHCM', N'khangndps06947@fpt.edu.vn', 4, 15151, N'hihi.jpg', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([Id], [PositionName], [Price], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (1, N'TRANG CHỦ', 10000, NULL, CAST(0x6E400B00 AS Date), NULL)
INSERT [dbo].[Position] ([Id], [PositionName], [Price], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (2, N'TRANG CON', 5000, NULL, CAST(0x6B400B00 AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Position] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [RoleName], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (1, N'ADMIN', NULL, NULL, NULL)
INSERT [dbo].[Role] ([Id], [RoleName], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (2, N'PHÓNG VIÊN', NULL, NULL, NULL)
INSERT [dbo].[Role] ([Id], [RoleName], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (3, N'NHÀ QUẢNG CÁO', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([Id], [Name], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (1, N'TIN HOT', NULL, NULL, NULL)
INSERT [dbo].[Type] ([Id], [Name], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (2, N'TIN THƯỜNG', NULL, NULL, NULL)
INSERT [dbo].[Type] ([Id], [Name], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (3, N'TIN MỚI', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Type] OFF
ALTER TABLE [dbo].[News] ADD  CONSTRAINT [DF_News_Views]  DEFAULT ((0)) FOR [Views]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Categories] FOREIGN KEY([CategoriesId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Categories]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Member] FOREIGN KEY([ApproveId])
REFERENCES [dbo].[Member] ([Username])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Member]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Member1] FOREIGN KEY([ApproveId])
REFERENCES [dbo].[Member] ([Username])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Member1]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Type] FOREIGN KEY([TypeId])
REFERENCES [dbo].[Type] ([Id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Type]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_User] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([Username])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_User]
GO
USE [master]
GO
